{% extends "HappyPaws/base.html" %}  <!-- herencia de base.html-->

{% load static %}
{% block main %}
<h4>
    <p> 
        <ul> 
        Hola! Mi nombre es David Borio, soy de Verónica Partido de Punta Indio ( Prov Buenos Aires).
        Soy Ingeniero Eléctrico egresado de la UNLP y actualmente trabajo en una distribuidora de energía eléctrica en La Plata.
        Mi interés por el curso se debe a que de chico me interesa todo lo referido a sistemas informáticos y computación en general. 
        Decidi iniciar el curso para adquirir conocimientos y complementarlos con mi formación de base con el fin de tener oportunidades laborales en el exterior.
        Estoy muy contento por haber llegado al final y por el contenido del curso.
        Gracias por todo!
 </h4>

{% endblock %}