{% extends "HappyPaws/base.html" %}
{% load static %}
{% block main %}

<p>
    
<ul>

    <h1> ~Lista de Mensajes~ </h1>
    {% if not mensajes %}
    <h4> No hay Mensajes en la casilla </h4>
    {% endif %}     


      
    {% for mensaje in mensajes %}
        <br>
        <li> 
            Enviado el: {{mensaje.enviado_el}}
            <br>               
            {{mensaje}}   
            <a href= "{% url 'mensaje-detail' mensaje.id %}" > Ver Mensaje </a>  /
            <a href= "{% url 'mensaje-delete' mensaje.id %}"> Borrar Mensaje </a>         
        </li>
    {% endfor %}  
</ul>
</p>

{% if user.is_authenticated and mensaje.destinatario == user %} 
            /          
            <a href= "{% url 'mensaje-delete' mensaje.id %}" > Eliminar </a>  
            {% endif %}

{% endblock %}

    