{% extends "HappyPaws/base.html" %}
{% load static %}

{% block main%}
{% if object.imagen %}
<img src="{{ object.imagen.url }}" width="320px" height="100%">
{% endif %}

{{object}}
<br>
Nombre: {{object.nombre}}
<br>
Raza:  {{object.raza}}
<br>
Publicado el: {{object.fecha}}
<br>
Teléfono de contacto: {{object.tel}}
<br>
"Mail de contacto: "{{object.mail}}
<br>
Ciudad:  {{object.ciudad}}
<br>
Estado: {{object.estado}} 
<br>
Descripción: {{object.descripcion}}



<br>

<a href="{% url 'pet-list' %}"> Volver </a>

{% endblock %}





