{% extends "HappyPaws/base.html" %}
{% load static %}

{% block main%}
{% if object.imagen %}
<img src="{{ object.imagen.url }}" width="320px" height="100%">
{% endif %}

{{object}}
<p>
    <ul>
        <br>
        <li>
            Nombre: {{object.nombre}}
        </li>        
        <br>
        <li>
            Publicado por: {{object.owner}}
        </li>
        <br>        
        <li>
            Raza:  {{object.raza}}            
        </li>
        <br>
        <li>
            Estado:  {{object.estado}}
        </li>
        <br>
        <li>
            Publicado el: {{object.fecha}}
        </li>
        <br>
        <li>
            Teléfono de contacto: {{object.tel}}
        </li>
        <br>
        <li>
            Ciudad:  {{object.ciudad}}
        </li>
        <br>
        <li>
            Mail de contacto:  {{object.mail}}
        </li>
        <br>
        <li>
            Descripción: {{object.descripcion}}
        </li>
        <br>

</p>

<a href="{% url 'pet-list' %}"> Volver </a>

{% endblock %}





