{% extends "HappyPaws/base.html" %}
{% load static %}
{% block main %}

<label for="id_criterio_raza">Criterio:</label>
        <input type="text" name="criterio_raza" maxlength="50" required="" id="id_criterio_raza">
<p>
    <ul>
        {% for pet in object_list %}
        <li>
    
            {{pet}}     
            
            <a href= "{% url 'pet-detail' pet.id %}" > Ver Detalle </a>   
            {% if user.is_authenticated and pet.owner == user %} 
            /          
            <a href= "{% url 'pet-update' pet.id %}" > Modificar </a>  /
            <a href= "{% url 'pet-delete' pet.id %}" > Eliminar </a>  
            {% endif %}

    
        </li>
    {% endfor %}  
    
    
    </ul>


</p>

{% endblock %}

    


