{% extends "HappyPaws/base.html" %}
{% load static %}
{% block main %}

<label for="id_criterio_raza">Criterio:</label>

<p>
   
    <ul>
        <h1> ~Publicaciones~ </h1>         
    
        
    {% for pet in object_list %}
        <br>
        <li>                
            {{pet}}     
            
            <a href= "{% url 'pet-detail' pet.id %}" > Ver Detalle </a>   
            {% if user.is_authenticated and pet.owner == user %} 
            /          
                <a href= "{% url 'pet-update' pet.id %}" > Editar </a>  /
                <a href= "{% url 'pet-delete' pet.id %}" > Eliminar </a>  
            {% endif %}    
        </li>
    {% endfor %}  
    
    
    </ul>
</p>

{% endblock %}

    


